*{
    margin: 0 auto;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "seccion1 seccion2"
                         "seccion1 seccion2";
    margin-top: 50px;
    background: linear-gradient(45deg, rgb(207, 166, 112),rgba(226, 226, 226, 0.171),rgb(252, 93, 212));
}
.izquierda{
    grid-area: seccion1;
    background: rgba(128, 128, 128, 0.445);
    width: 70%;
    height: 100%;
    margin-left: 160px;
    border-radius: 30px;
    
}
.izquierda h1{
    margin-top: 70px;
    margin-left: 40px;
}
#parrafotitulo{
    margin-top: 5px;
    margin-left: 40px;
}
.contenedor{
    margin-top: 10px;
    margin-left: 90px;
}
.card{
    display: inline-flex;
    padding: 10px;
}
.card img{
    width: 50px;
    border-radius: 15px;
}
.ventas{
    display: inline-flex;
    width: 100%;
}
.ventas h3{
    text-align: center;
}
.precio{
    text-align: end;
}
.ventas img{
    width: 100px;
    padding: 10px;
    border-radius: 60px;
}
.muestra{
    margin: 20px;
    background: rgb(202, 198, 198);
    border-radius: 20px;
}
.contenedor2{
    background: rgb(0, 0, 0);
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    border-radius: 30px;
}
.card2{
    display: inline-flex;
    padding: 20px;
}
.card2 img{
    width: 50px;
    border-radius: 15px;
}
.derecha{
    grid-area: seccion2;
    background: rgba(128, 128, 128, 0.445);
    width: 70%;
    margin-right: 160px;
    border-radius: 30px;
}
.derecha img{
    width: 400px;
    border-radius: 60%;
    margin-left: 33px;
}
.derecha h1{
    margin-left: 30px;
    margin-right: 320px;
}
.tiempo{
    padding: 5px;
}
.derecha p{
    margin-left: 30px;
}
.precio2{
    margin-left: 30px;
    margin-right: 150px;
    margin-top: 10px;
}
.seccion{
    display: inline-flex;
    text-align: end;
    margin-left: 350px;
    background: black;
    border-radius: 20px;

}
.seccion img{
    width: 30px;
}
.icono a{
    color: white;
    list-style: none;
    text-decoration: none;
}